<!DOCTYPE html>
{% autoescape false %}
<html>
    <head>
        <title>
            Bypass CSP
        </title> 
    </head>
    <body>
    <div class="container">
        <h1>Reflect User Input</h1>
        <form method="GET" action="/">
            <input type="text" name="input" placeholder="Enter something" value="{{ input }}">
            <input type="submit" value="Submit">
        </form>
        <p>You entered: {{ input }}</p>
        <script src="/static/js/script.js" nonce="ultimate_ultra_secret"></script>
    </div>
    </body>
</html>
{% endautoescape %}